@charset "utf-8";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
					CSS SET 2013/06/11
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*===========================================================
＊ Set Base Style
===========================================================*/

/* initial setting */
@import url(style.css?miitomo_20161025);
@import url(smart.css?miitomo_20161025) screen and (max-width: 736px);
@import url(language.css?miitomo_20161025);

/*
     FILE ARCHIVED ON 00:45:34 Jul 25, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:22:38 Aug 29, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.333
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.025
  esindex: 0.006
  cdx.remote: 7.767
  LoadShardBlock: 53.033 (3)
  PetaboxLoader3.datanode: 1054.286 (5)
  load_resource: 1333.415 (2)
  PetaboxLoader3.resolve: 284.492 (2)
*/