@charset "utf-8";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
					CSS SET 2013/06/11
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*===========================================================
＊ Set Base Style
===========================================================*/

@import url(../../css/style.css?miitomo_20160317); /* initial setting */
@import url(../../css/smart.css?miitomo_20160317) screen and (max-width: 736px);
@import url(language.css?miitomo_20160317);

/*
     FILE ARCHIVED ON 13:37:49 Aug 11, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:47:11 Aug 29, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.386
  exclusion.robots: 0.041
  exclusion.robots.policy: 0.033
  esindex: 0.006
  cdx.remote: 6.117
  LoadShardBlock: 54.929 (3)
  PetaboxLoader3.resolve: 64.945 (4)
  PetaboxLoader3.datanode: 25.804 (4)
  load_resource: 37.988
*/