@charset "utf-8";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
					CSS SET 2013/06/11
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*===========================================================
＊ Set Base Style
===========================================================*/

@import url(../../css/style.css?miitomo_20160317); /* initial setting */
@import url(../../css/smart.css?miitomo_20160317) screen and (max-width: 736px);
@import url(language.css?miitomo_20160317);

/*
     FILE ARCHIVED ON 06:43:26 Jul 12, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:17:07 Aug 29, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.343
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.024
  esindex: 0.005
  cdx.remote: 8.971
  LoadShardBlock: 85.18 (3)
  PetaboxLoader3.datanode: 92.745 (5)
  PetaboxLoader3.resolve: 744.227 (4)
  load_resource: 811.426 (2)
*/