@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(/fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 20:55:50 Aug 10, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:47:00 Aug 29, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.446
  exclusion.robots: 0.045
  exclusion.robots.policy: 0.039
  esindex: 0.008
  cdx.remote: 35.475
  LoadShardBlock: 250.22 (6)
  PetaboxLoader3.resolve: 67.442 (4)
  PetaboxLoader3.datanode: 252.257 (7)
  load_resource: 93.632
*/